{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Aperçu des annonces concernant le réseau et l'intégration - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>Aperçu des annonces</h2>

    <ul class="nav nav-pills nav-stacked">
        {% for category in listCategories %}
            <li>{{ category.title }}, proposé par {{ category.author }}</li>
        {% endfor %}
    </ul>

    <p>
        <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'accueil de la plateforme
        </a>
    </p>
{% endblock %}